///VARIABLES
/// 
$bgcolor-char-legend: purple;
$bgcolor-char-exotic: gold;

//character elements colors
$color-anemo: #00e18d;
$color-cryo: #51e5ff;
$color-dendro: #8bf000;
$color-electro: #fa62ff;
$color-geo: #ffd955;
$color-hydro: #518dff;
$color-pyro: #ff7f7b;