@use './color-variables';

$font-color-head: rgb(80 94 124);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body{
    height: 100%;
    background: linear-gradient(rgba(0, 255, 255, 0.25), rgba(245, 245, 245, 0.25)), url('images/craiyon_120003_realistic_space_universe_seamless.png');
    background-attachment: fixed;
    background-size: cover;

    header{
        position: fixed;
        z-index: 2;
        width: 100%;
    }

}


#home_main{
    height: 100%;
    /* background-image: linear-gradient(rgba(0, 255, 255, 0.25), rgba(245, 245, 245, 0.25));
    background-attachment: fixed; */
    padding-top: 5em;

    section{
        position: relative;

        h2{
            background-color: rgba(0, 0, 0, 0.5);
            padding: 2em 0;
        }
    }

    .add__team-btn{
        display: block;
        margin: auto;

        width: fit-content;
        height: fit-content;


        /* background-color: rgba(169, 169, 169, 0.6);
        outline: 2px solid whitesmoke;
        font-weight: bold;
        border-radius: 50%;
        text-align: center;
        text-decoration: none;
        color: whitesmoke; */

        &.disabled{
            display: none;
        }
    }
}

#teams__list{
    display: flex;
    flex-flow: column nowrap;

}

.team__front__container{
    display: flex;
    flex-flow: column nowrap;
    background-color: whitesmoke;
    margin: 1rem;
    border-radius: .5rem;

    .teams-name{
        color: $font-color-head;
    }

    .teams-characters{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-evenly;

        img{
            &.cryo{
                background-color: var(--color-cryo);
            }
        }

        .charName{
            text-transform: capitalize;
        }
        
        .team{
            background-color: lightgray;
            border-radius: .5rem;
            margin: .5rem;
            height: 64px;
            width: 64px;
        }
    }
}


nav{
    li{
        display: inline;
        list-style: none;
    }
}


//MEDIA QUERY


