*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body{
    height: 100%;
    background-image: url('images/craiyon_120003_realistic_space_universe_seamless.png');
}

#home_main{
    height: 100%;
    background-image: linear-gradient(rgba(0, 255, 255, 0.25), rgba(245, 245, 245, 0.25));

    section{
        position: relative;
    }

    .add__team-btn{
        position: absolute;
        background-color: darkgrey;
        left:40%;
        font-size: 2rem;
        padding: 0 .8rem;
        font-weight: bold;
        border-radius: 50%;
        text-align: center;

        a{
            text-decoration: none;
            color: whitesmoke;
            position: relative;
        }
    }
}

#teams__list{
    display: flex;
    flex-flow: column nowrap;

}

.team__front__container{
    display: flex;
    flex-flow: column nowrap;
    background-color: whitesmoke;
    margin: 1rem;
    border-radius: .5rem;

    .teams-characters{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-evenly;

        .team{
            background-color: lightgray;
            border-radius: .5rem;
            margin: .5rem;
            height: 64px;
            width: 64px;
        }
    }
}


nav{
    li{
        display: inline;
        list-style: none;
    }
}


//MEDIA QUERY


