@use './color-variables';

$font-color-head: rgb(80 94 124);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body{
    height: 100%;
    background-image: url('images/craiyon_120003_realistic_space_universe_seamless.png');
    background-size: cover;
}

#home_main{
    height: 100%;
    background-image: linear-gradient(rgba(0, 255, 255, 0.25), rgba(245, 245, 245, 0.25));

    section{
        position: relative;
    }

    .add__team-btn{
        display: block;
        margin: auto;

        width: fit-content;
        height: fit-content;


        background-color: rgba(169, 169, 169, 0.6);
        outline: 2px solid whitesmoke;
        font-weight: bold;
        border-radius: 50%;
        text-align: center;
        text-decoration: none;
        color: whitesmoke;
    }
}

#teams__list{
    display: flex;
    flex-flow: column nowrap;

}

.team__front__container{
    display: flex;
    flex-flow: column nowrap;
    background-color: whitesmoke;
    margin: 1rem;
    border-radius: .5rem;

    .teams-name{
        color: $font-color-head;
    }

    .teams-characters{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-evenly;
        
        .team{
            background-color: lightgray;
            border-radius: .5rem;
            margin: .5rem;
            height: 64px;
            width: 64px;
        }
    }
}


nav{
    li{
        display: inline;
        list-style: none;
    }
}


//MEDIA QUERY


