@use './color-variables';

$font-color-head: rgb(80 94 124);

nav{
    background-color: whitesmoke;
    border: 2px solid rgb(216, 146, 99);
    outline: 4px solid whitesmoke;

    .nav-link{
        color:rgb(216, 146, 99);
        font-weight: 500;
    }

    .navbar-brand {
        color:$font-color-head;
        font-weight: 700;
    }
}



.disabled{
    color: grey;
}

h1{
    font-family: 'Alegreya', serif;
    letter-spacing: 3px;
}