@use './color-variables';

nav{
    background-color: whitesmoke;
    border-top: 1px solid rgb(216, 146, 99);
    border-bottom: 1px solid rgb(216, 146, 99);
    outline: 5px solid whitesmoke;

    .nav-link{
        color:rgb(216, 146, 99);
        font-weight: 500;
    }

    .navbar-brand {
        color:rgb(216, 146, 99);
        font-weight: 700;
    }
}



.disabled{
    color: grey;
}

h1{
    font-family: 'Alegreya', serif;
    letter-spacing: 3px;
}