:root {
  --color-anemo: #00e18d;
  --color-cryo: #51e5ff;
  --color-dendro: #8bf000;
  --color-electro: #fa62ff;
  --color-geo: #ffd955;
  --color-hydro: #518dff;
  --color-pyro: #ff7f7b;
}

nav {
  background-color: whitesmoke;
  border: 2px solid rgb(216, 146, 99);
  outline: 4px solid whitesmoke;
}
nav .nav-link {
  color: rgb(216, 146, 99);
  font-weight: 500;
}
nav .navbar-brand {
  color: rgb(80, 94, 124);
  font-weight: 700;
}

.disabled {
  color: grey;
}

h1 {
  font-family: "Alegreya", serif;
  letter-spacing: 3px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  background: linear-gradient(rgba(0, 255, 255, 0.25), rgba(245, 245, 245, 0.25)), url("images/craiyon_120003_realistic_space_universe_seamless.png");
  background-attachment: fixed;
  background-size: cover;
}
html header,
body header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

#home_main {
  height: 100%;
  /* background-image: linear-gradient(rgba(0, 255, 255, 0.25), rgba(245, 245, 245, 0.25));
  background-attachment: fixed; */
  padding-top: 5em;
}
#home_main section {
  position: relative;
}
#home_main section h2 {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2em 0;
}
#home_main .add__team-btn {
  display: block;
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  /* background-color: rgba(169, 169, 169, 0.6);
  outline: 2px solid whitesmoke;
  font-weight: bold;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  color: whitesmoke; */
}
#home_main .add__team-btn.disabled {
  display: none;
}

#teams__list {
  display: flex;
  flex-flow: column nowrap;
}

.team__front__container {
  display: flex;
  flex-flow: column nowrap;
  background-color: whitesmoke;
  margin: 1rem;
  border-radius: 0.5rem;
}
.team__front__container .teams-name {
  color: rgb(80, 94, 124);
}
.team__front__container .teams-characters {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
}
.team__front__container .teams-characters img.cryo {
  background-color: var(--color-cryo);
}
.team__front__container .teams-characters .charName {
  text-transform: capitalize;
}
.team__front__container .teams-characters .team {
  background-color: lightgray;
  border-radius: 0.5rem;
  margin: 0.5rem;
  height: 64px;
  width: 64px;
}

nav li {
  display: inline;
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

#list__main {
  background-color: rgba(211, 211, 211, 0.25);
}

.grid {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(auto-fill, 8.5em);
  gap: 1em;
  padding-left: 0;
  padding-top: 5em;
}
@media screen and (min-width: 480px) {
  .grid {
    padding-top: 2em;
  }
}

.character__item {
  display: block;
  position: relative;
  padding: 0.25rem;
  margin: 0.5rem;
  list-style: none;
  background-color: whitesmoke;
  border-radius: 0.5rem;
  box-shadow: 0 0 8px rgba(17, 17, 17, 0.4784313725);
}
.character__item p {
  margin: auto;
  padding: 0.1rem;
  text-align: center;
  vertical-align: middle;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: capitalize;
}
.character__item a {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  height: 100%;
  width: 100%;
  z-index: 3;
}

.character__icon {
  height: 96px;
  width: 96px;
  border-radius: 0.5rem;
  margin-top: 0.8rem;
}
.character__icon.Anemo {
  background-image: linear-gradient(#00ae6d, #00e18d);
}
.character__icon.Cryo {
  background-image: linear-gradient(#1eddff, #51e5ff);
}
.character__icon.Dendro {
  background-image: linear-gradient(#6dbd00, #8bf000);
}
.character__icon.Electro {
  background-image: linear-gradient(#f82fff, #fa62ff);
}
.character__icon.Geo {
  background-image: linear-gradient(#ffce22, #ffd955);
}
.character__icon.Hydro {
  background-image: linear-gradient(#1e6cff, #518dff);
}
.character__icon.Pyro {
  background-image: linear-gradient(#ff4e48, #ff7f7b);
}

@media only screen and (max-width: 480px) {
  .grid {
    gap: 0.25rem;
  }
}
.char__main {
  height: 100%;
  position: relative;
  display: grid;
  place-content: center;
}
.char__main.anemo {
  background-image: linear-gradient(#00e18d, transparent);
}
.char__main.cryo {
  background-image: linear-gradient(#51e5ff, transparent);
}
.char__main.dendro {
  background-image: linear-gradient(#8bf000, transparent);
}
.char__main.electro {
  background-image: linear-gradient(#fa62ff, transparent);
}
.char__main.geo {
  background-image: linear-gradient(#ffd955, transparent);
}
.char__main.hydro {
  background-image: linear-gradient(#518dff, transparent);
}
.char__main.pyro {
  background-image: linear-gradient(#ff7f7b, transparent);
}
.char__main a {
  border: none;
  background-image: linear-gradient(wheat, rgb(245, 212, 150));
  color: #111;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem;
  margin: 1rem;
  border: 2px solid rgb(194, 102, 16);
  position: absolute;
  bottom: 12%;
}
.char__main a span {
  padding-right: 0.25rem;
  font-weight: 600;
}
.char__data {
  background-color: rgba(17, 17, 17, 0.5490196078);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.char__data h1 {
  color: whitesmoke;
  text-align: center;
  text-transform: capitalize;
  margin: 0.5rem;
}
.char__data img {
  max-width: 100%;
  width: 10%;
  height: auto;
  padding: 0.25em;
}
.char__rarity {
  margin-bottom: 0.5rem;
}
.char__rarity li {
  display: inline-block;
  list-style: none;
}
.char__container {
  position: relative;
}
.char__container .vision {
  background-image: linear-gradient(-250deg, whitesmoke, dimgrey);
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.25rem;
  border-radius: 80%;
  border: 2px solid;
  position: absolute;
  top: 2%;
  left: 5%;
  z-index: 10;
}
.char__container .vision__icon {
  background-image: radial-gradient(lightgrey, dimgrey);
  border-radius: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
}
.char__container .char__portrait {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  margin: auto;
  filter: drop-shadow(2px 2px 4px #111);
}

.create__team-main {
  background-color: rgba(35, 49, 48, 0.75);
  padding-top: 4em;
}

.team__form {
  background-color: rgba(0, 0, 0, 0.7);
}

form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 1rem auto;
}
form label {
  font-weight: 500;
  font-size: 1.1rem;
}
form input {
  width: 200px;
  padding-left: 0.25rem;
  color: whitesmoke;
}
form #team__name {
  border: none;
  border-bottom: 3px solid lightgrey;
  background-color: transparent;
}
form #team__name:focus, form #team__name:active {
  border: none;
  outline: none;
  border-bottom: 3px solid whitesmoke;
}
form .error__name {
  color: red;
  display: none;
}

.save {
  display: block;
  border: none;
  margin: auto;
  padding: 0.25rem;
  border-radius: 0.5rem;
  font-weight: 500;
}

.team__container {
  background-color: grey;
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team__container .button {
  border: none;
  border-radius: 0.5rem;
  background-color: whitesmoke;
  padding: 0 0.5rem;
  margin: 0.5rem;
  font-size: 2.5rem;
  text-align: center;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team__container .button i {
  color: dimgray;
}
.team__container .button.active {
  box-shadow: 0 0 8px rgb(255, 241, 160);
}
.team__container .button img {
  width: 64px;
  height: 64px;
}

.character-roster-section {
  position: relative;
}
.character-roster-section #roster {
  display: grid;
  grid-template-columns: repeat(20, 130px [col-start]);
  overflow-x: scroll;
}
.character-roster-section #roster .character__item:active {
  box-shadow: 0 0 8px rgba(144, 238, 144, 0.75);
}
.character-roster-section .slide__l,
.character-roster-section .slide__r {
  position: absolute;
  top: 60%;
  height: 10%;
  background-color: rgba(245, 245, 245, 0.486);
  border: none;
  font-weight: bold;
  font-size: 2rem;
  padding: 0.25rem;
}
.character-roster-section .slide__r {
  right: 0;
}/*# sourceMappingURL=style.css.map */