* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

#home_main {
  background-color: lightgray;
  height: 100%;
}
#home_main section {
  position: relative;
}
#home_main .add__team-btn {
  position: absolute;
  background-color: darkgrey;
  left: 40%;
  font-size: 2rem;
  padding: 0 0.8rem;
  font-weight: bold;
  border-radius: 50%;
  text-align: center;
}
#home_main .add__team-btn a {
  text-decoration: none;
  color: whitesmoke;
  position: relative;
}

#teams__list {
  display: flex;
  flex-flow: column nowrap;
}

.team__front__container {
  display: flex;
  flex-flow: column nowrap;
  background-color: dimgray;
  margin: 1rem;
  border-radius: 0.5rem;
}
.team__front__container .teams-characters {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
}
.team__front__container .teams-characters .team {
  background-color: lightgray;
  border-radius: 0.5rem;
  margin: 0.5rem;
  height: 64px;
  width: 64px;
}

nav li {
  display: inline;
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

#list__main {
  background-color: lightgrey;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
  padding-left: 0;
}

.character__item {
  display: block;
  position: relative;
  padding: 0.25rem;
  margin: 0.5rem;
  list-style: none;
  background-color: whitesmoke;
  border-radius: 0.5rem;
  box-shadow: 0 0 8px rgba(17, 17, 17, 0.4784313725);
}
.character__item p {
  margin: auto;
  padding: 0.1rem;
  text-align: center;
  vertical-align: middle;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: capitalize;
}
.character__item a {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  height: 100%;
  width: 100%;
  z-index: 3;
}

.character__icon {
  height: 96px;
  width: auto;
  border-radius: 0.5rem;
}

.Anemo {
  background-image: linear-gradient(#00ae6d, #00e18d);
}

.Cryo {
  background-image: linear-gradient(#1eddff, #51e5ff);
}

.Dendro {
  background-image: linear-gradient(#6dbd00, #8bf000);
}

.Electro {
  background-image: linear-gradient(#f82fff, #fa62ff);
}

.Geo {
  background-image: linear-gradient(#ffce22, #ffd955);
}

.Hydro {
  background-image: linear-gradient(#1e6cff, #518dff);
}

.Pyro {
  background-image: linear-gradient(#ff4e48, #ff7f7b);
}

@media only screen and (max-width: 480px) {
  .grid {
    gap: 0.25rem;
  }
}
form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 1rem auto;
}
form label {
  font-weight: 500;
  font-size: 1.1rem;
}
form input {
  width: 200px;
  padding-left: 0.25rem;
}
form #team__name {
  border: none;
  border-bottom: 3px solid lightgrey;
}
form #team__name:focus, form #team__name:active {
  border: none;
  outline: none;
  border-bottom: 3px solid whitesmoke;
}
form .error__name {
  color: red;
  display: none;
}

.save {
  display: block;
  border: none;
  margin: auto;
  padding: 0.25rem;
  border-radius: 0.5rem;
  font-weight: 500;
}

.team__container {
  background-color: grey;
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team__container .button {
  border: none;
  border-radius: 0.5rem;
  background-color: whitesmoke;
  padding: 0 0.5rem;
  margin: 0.5rem;
  font-size: 2.5rem;
  text-align: center;
}
.team__container .button:active {
  box-shadow: inset 1px 1px 2px grey;
}
.team__container .button img {
  width: 48px;
  height: 48px;
}

.character-roster-section {
  position: relative;
}
.character-roster-section #roster {
  display: grid;
  grid-template-columns: repeat(20, 130px [col-start]);
  overflow-x: scroll;
}
.character-roster-section #roster .character__item:active {
  box-shadow: 0 0 8px rgba(144, 238, 144, 0.75);
}
.character-roster-section .slide__l,
.character-roster-section .slide__r {
  position: absolute;
  top: 60%;
  height: 10%;
  background-color: rgba(245, 245, 245, 0.486);
  border: none;
  font-weight: bold;
  font-size: 2rem;
  padding: 0.25rem;
}
.character-roster-section .slide__r {
  right: 0;
}/*# sourceMappingURL=style.css.map */